<div class="container">
    <div class="question">
        <div class="question_header">
            <h1 class = "title">Antes de comenzar, nos gustaría saber más acerca de ti...</h1>
            <p class = "subtitle">¿Cuáles son tus géneros de videojuegos favoritos?</p>
        </div>
        <div class="question_options">
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre1">
                <label class="option_label" for="genre1">
                    <fa-icon class="fas" [icon]="faHandBackFist"></fa-icon>
                    <h6>Acción</h6>
                </label>
            </div>
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre2">
                <label class="option_label" for="genre2">
                    <fa-icon class="fas" [icon]="faShieldHalved"></fa-icon>
                    <h6>Aventura</h6>
                </label>
            </div>
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre3">
                <label class="option_label" for="genre3">
                    <fa-icon class="fas" [icon]="faCar"></fa-icon>
                    <h6>Carreras</h6>
                </label>
            </div>
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre4">
                <label class="option_label" for="genre4">
                    <fa-icon class="fas" [icon]="faChess"></fa-icon>
                    <h6>Estrategia</h6>
                </label>
            </div>
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre5">
                <label class="option_label" for="genre5">
                    <fa-icon class="fas" [icon]="faSkull"></fa-icon>
                    <h6>Terror</h6>
                </label>
            </div>
            <div class="option">
                <input class="option_checkbox" type="checkbox" name="genres" id="genre6">
                <label class="option_label" for="genre6">
                    <fa-icon class="fas" [icon]="faGun"></fa-icon>
                    <h6>Shooter</h6>
                </label>
            </div>
        </div>
        <div class="question_button one_button">
            <button type="submit" class="btn success" routerLink="/platform-survey">Siguiente</button>
        </div>
    </div>
</div>