<div class="container"> 
    <div class="card">
        <h1 class="title">BIENVENIDO</h1>
        <form class="form" action="#">
            <div class="inputspace">
                <label for="email" class="subtitle">Correo</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="inputspace">
                <label for="pass" class="subtitle">Contraseña</label>
                <input type="password" id="pass" name="pass" required>
            </div>
            <div class="inputspace">
                <div class="buttonspace">
                    <button type="submit" class="btn success">INICIAR SESIÓN</button>
                </div>
                <div class="buttonspace">
                    <a class="btn link" routerLink="/register">Crear una cuenta</a>
                </div>
            </div>
        </form>     
    </div>
</div>