.container{
    font-family: 'Segoe UI Semibold';
    color: var(--form-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    background-color: var(--gray-bg-color); 
}

.subcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo .icon{
    font-size: 50px;
    cursor: pointer;
    transition: all 0.5s;

}

.logo .icon:hover{
    transform: scale(1.2);
}


.nav-options{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links li{
    display: inline-block;
    padding: 0.75rem;
    padding-left: 4rem;
    transition: all 0.3s;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 1.5rem;
    color: var(--form-bg-color);
    text-decoration: none;
}

.nav-links a:focus{
    border-bottom: solid 2.5px var(--form-bg-color);
}

.search-nav{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar{
    color: var(--form-bg-color);
    font-size: 1.5rem;
    font-family: 'Segoe UI';
    height: 4rem;
    width: 35rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--gray-bg-color);
}

.search-bar:focus {
    outline: 1px solid royalblue;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 1.5rem;
}

.game-card{
    height: 16rem;
    width: 90px;
    border-radius: 1rem;
    background-color: #363636;
    font-size: 0.8rem;
    font-family: 'Segoe UI';
    text-align: center;
}

.game-card img{
    height: 128px;
    width: 90px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.game-card h4{
    text-align: center;
    white-space: nowrap;
    overflow-x:hidden;
    max-width: 90px;
    padding: 0 12.5%;
    scrollbar-width: none;
    text-overflow: ellipsis;
}
 
.game-card h4:hover{
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth ;
    width: 90px;
    padding: 0 12.5%;
    scrollbar-width: none;
    text-overflow: clip;
}

.subtitle{
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    border-bottom-width: thin;
    margin-bottom: 1.5rem;
    width: 100%;
}