<div class="container">
    <header class="header">
        <nav class="nav-options">
            <div class="logo" id="games4U">
                <fa-icon  class="icon" [icon]="faGamepad"></fa-icon>
            </div>
            <ul class="nav-links">
                <li><a href="#">Mi Biblioteca</a></li>
                <li><a href="#">Recomendaciones</a></li>
            </ul>
        </nav>
        <div class="logo">
            <fa-icon class="icon" [icon]="faLogOut"></fa-icon>
        </div>
    </header>
    <form class="search-nav">
        <input class="search-bar" type="text" placeholder="Busca tus juegos aquí">
    </form>
    <div class = "subcontainer">
        <h3 class="subtitle">Juegos que podrían gustarte</h3>
        <section class="cards-container">
            <div class="game-card" *ngFor="let game of games">
                <img [src]="game.cover" alt="" loading="lazy">
                <h4>{{ game.name }}</h4>
                <button class="add-btn">+</button>
            </div>
        </section>
    </div>
</div>