.container{
    font-family: 'Segoe UI Semibold';
    color: var(--form-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    background-color: var(--gray-bg-color); 
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo .icon{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;

}

.logo .icon:hover{
    transform: scale(1.2);
}


.nav-options{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-links li{
    display: inline-block;
    padding: 0.75rem;
    padding-left: 4rem;
    transition: all 0.3s;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 1.5rem;
    color: var(--form-bg-color);
    text-decoration: none;
}

.nav-links a:focus{
    border-bottom: solid 2.5px var(--form-bg-color);
}

.search-nav{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar{
    color: var(--form-bg-color);
    font-size: 1.5rem;
    font-family: 'Segoe UI';
    height: 4rem;
    width: 35rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--gray-bg-color);
}

.search-bar:focus {
    outline: 1px solid royalblue;
}

.search-nav svg {
    width: 30px;
}

.subtitle{
    font-size: 1.5rem;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3rem;
    width: 100%;
    padding-bottom: 1rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 3rem;
}

.subcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-bottom: 10%;
}

.game-card{
    width: 150px;
    font-size: 0.8rem;
    font-family: 'Segoe UI';
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-card img{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 0;
}

.game-card h4{
    max-width: 50%;
    font-size: 1rem;
    position: absolute;
    margin: 0;
    z-index: 0;
    bottom: 0;
    font-weight: bolder;
    transition: bottom 0.3s ease;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1;
}

.game-card button{
    bottom: 0;
    right: 0;
    margin-right: 5%;
    position: absolute;
    height: 2.5rem;
    transition: bottom 0.3s ease;
    width: 2.5rem;
    font-size: 1.5rem;
    color: #6363ce;
    border-radius: 50%;
    z-index: -1;
    border: 0;
    background-color: var(--form-bg-color);
    font-weight: bolder;
    cursor: pointer;
}

.game-card button:hover{
    color: var(--form-bg-color);
    background-color: #6363ce;
}

.game-card:hover{
    transform: scale(1.05);
}

.game-card:hover h4,
.game-card:hover button{
    bottom: 10px;
    z-index: 2;
}

.game-card:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px -52px 83px -3px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px -52px 83px -3px rgba(0,0,0,0.9);
    box-shadow: inset 0px -52px 83px -3px rgba(0,0,0,0.9);
    overflow: hidden;
    z-index: 1;
}